html {
 font-family: "Open Sans";
}

body {
background-color: #ecf0f1;
margin: 0;
padding: 0;
}
#header {
 width: 100%;
 background-color: white;
 border-bottom: 1px solid silver;
}
#content {
  max-width: 40em;
  height: 100%;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  margin: auto;
  background-color: white;
}

#text {
 padding: 1em;
 text-align: center;
}
