html {
 font-family: "Open Sans";
}

a:link {
    text-decoration: none;
    color: #2980b9;
}

a:hover {
    color: #3498db;
}

a:visited {
    color: #67809F;
}

a:visited:hover {
    color: #768DA9;
}

body {
background-color: #ecf0f1;
margin: 0;
padding: 0;
}

#header {
 padding: 10px;
 color: white;
 font-size: 22;
 text-align: left;
 background-color: #5C97BF;
}

#header a {
    color: white;
}

#header a:hover {
    color: #ddd;
}

#download {
    width: 200px;
    height: 50px;
    background-color: #3498DB;
    color: white;
    font: 17px/50px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    box-shadow: 1px 1px 0 0 #ccc;
    border-radius: 5px;

}


#download:hover{
    background-color: #22A7F0;
}

#download:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 0px #2A7AAF, 0px 1px #2F89C5,
              2px 1px #2A7AAF, 1px 2px #2F89C5;
}

#content {
  max-width: 40em;
  height: 100%;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  margin: auto;
  overflow: auto;
  background-color: white;
}

#text {
 padding: 1em;
 text-align: center;
}
